doctype html
html(lang="en")
  head
    title Anyska's Blog! 
    meta(content="Anyska's Blog! &#8211; Anyska's Blog! &#8211; is super awesome" name="description")
    meta(
      name="viewport" 
      content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no"
    )
    link(rel="stylesheet", href="style.css")
  body
    .content
      .grid 
        include _component/home-page/home-page.pug
        include _component/menu/menu.pug
   

