* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "PT Sans", sans-serif;
  background-color: #fdf9db;
}

.content {
  max-width: 1000px;
  height: 100%;
  background-color: white;
  margin: 40px auto;
  padding: 40px 60px;
}

a {
  text-decoration: none;
}

.grid {
  display: grid;
  grid-template-columns: 1fr 3fr;
  grid-gap: 50px;
  margin: 0 auto;
}
