- var homePage=data.content.homePage
.home__page
  .home__page-header
    a(href="/").home__page-title=homePage.title
    h2.home__page-subtitle=homePage.subtitle
    img(src="asset/image/home-page.png", alt="").home__page-image

  .home__page-articles
    include ../article/article.pug

