.home__page
  .home__page-header
    a(href="/").home__page-title Anyska's beauty diary
    h2.home__page-subtitle Grab a cup of tea and let's chat beauty, shall we?
  img(src="asset/image/home-page.png", alt="").home__page-image
