- var menu = data.content.menu
.menu
  .menu__bar
    .open 
      label(for="meniu")
        span.menu__bar-text-open=menu.open
        i.icon-menu
    .close
      label(for="meniu")
        span.menu__bar-text-close=menu.close
        i.icon-cross
  .menu__content 
    img(src="asset/image/menu.png", alt="").menu__content-image
    .menu__icons 
      i.icon-facebook2
      i.icon-linkedin
      i.icon-instagram
      i.icon-twitter 
   
